<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de tarefas</title>
</head>
<body>
<form method="POST" action="/novaTask">
<div class="form-floating mb-3">
    <input class="form-control" id="name" placeholder="Nome da Tarefa" name="name">
    <label for="name">Tarefa</label>
</div>
<div class="form-floating">
    <input class="form-control" id="type" placeholder="Tipo de Tarefa! Exemplo: Doméstica" name="type">
    <label for="type">Categoria de Tarefa</label>
</div>
<button type="submit" class="btn btn-secondary">Adicionar Tarefa
</button>
</form>
<ol id="task-list">
<li th:each="task : ${tasks}" th:id="'task-' + ${task.id}">
    <div>
        <span class="span-name" th:text="${task.name}">Nome da tarefa </span>
        <span class="span-type" th:text="${task.type}">Tipo da tarefa </span>
        <button class="delete_button" th:onclick="|deleteTask('${task.id}')|">🗑️</button>
        <button class="edit_button" th:onclick="|newLayoutEdit('${task.id}')|">✏️</button>
    </div>
</li>
</ol>
<script src="/script.js"></script>
</body>
</html>